.big-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    height: 100vh;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
     background-color: rgb(red);
}
.card-container{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 235, 245);
    font-weight: bold;
    
    background-image: url("https://www.pexels.com/photo/white-and-blue-passenger-airplane-aerial-photography-1004584/");
    background-size: cover;
    
   
    
}
.button{
    height: 30px;
    width: 130px;
    background-color: #25b1cc;
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    margin-left:auto;

}
